#toggleButton {
    
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

#toggleButtonTwo  {
    
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.loginToggleButton {
    display: flex !important;
    justify-content: center !important;
    /* position: fixed;
    top: 10px;
    right: 75px;
    font-size: 20px; */
    background: none;
    border: none;
    cursor: pointer;
    
}

body.dark-mode {
    background-color: #343655;
    color: #d7dbdb !important;
}

.bi-sun {
    color: #d7dbdb !important;
    margin-top: 15px;
}

.bi-moon-stars {
    color: #343655 !important;
    margin-top: 15px;
}

body.dark-mode a {
    color: #d7dbdb !important; /* Set the desired link color in dark mode */
}  

body.dark-mode h2 {
    color: #d7dbdb !important; /* Set the desired link color in dark mode */
}   

body.dark-mode h4 {
    color: #d7dbdb !important; /* Set the desired link color in dark mode */
}   
