@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;600;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Inconsolata', monospace;
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid;
    margin: 3rem 0;
}

.side-bar-section,
.post-section {
    padding: 3rem;
}

#allLinks {
    margin-left: 5rem;
}

.side-bar-name,
.side-bar-home,
.side-bar-post,
.side-bar-like,
.side-bar-profile {
    display: flex;
    align-items: center;
}

.side-bar-home,
.side-bar-post,
.side-bar-like,
.side-bar-profile {
    margin: 1rem 2rem 1rem 2rem;
}

.card-name, .post-content {
    display: flex;
    justify-content: start !important;
}


/* MAIN CONTEXT */

.post-section {
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}

.post-section .row {
    align-items: center;
    justify-content: space-evenly;
}

.post-section button {
    color: #485785;   
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    /* box-shadow: 5px 5px 10px rgba(55,94,148,.2), -5px -5px 10px rgba(255,255,255,.4); */
    box-shadow: none;
}

.card {
    background-color: #f0f5fa;
    color: #414b69;
}

.card .row {
    justify-content: space-between;
    align-items: center;
}

.user-time {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.like-section {
    display: flex;
}

#searchButton,
#goBackButton,
#editPost,
#deletePost,
#likePost {
    border: none;
    background-color: transparent;
}